# required modules
numpy
matplotlib
numdifftools
scikit-learn
punpy>=1.0.0
scipy

# for docs
sphinx
sphinx_design
ipython
sphinx_autosummary_accessors
sphinx_book_theme

# for interpolations with uncertainties
punpy>=1.0.0
